<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
    <div style="width: 700px;margin: 0 auto">
        <h1>资产列表</h1>
        <table class="table table-bordered table-striped">
            <thead id="tbHead">
            <tr>
            </tr>
            </thead>
            <tbody id="tbBody">

            </tbody>
        </table>
    </div>
    <script src="/static/jquery-1.12.4.js"></script>
    <script src="/static/nb-list.js"></script>
    <script>
        $.xx('/backend/asset_json.html');
    </script>
</body>
</html>